@font-face {
    font-family: 'Royalina';
    src: url('../fonts/Royalina.woff2') format('woff2'),
        url('../fonts/Royalina.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Royalina';
    font-weight: normal;
}


.my-heading {
    color: aqua;
    border: 4px solid black;
}

